body {
    background-color: #222831 !important;
    min-height: 100vh;
    padding: 0;
}
nav {
    background-color: lemonchiffon !important;
    color: #222831 !important;
    font-size: 20px;
}
.navbar-dropdown {
    background-color: lemonchiffon !important;
}
.hero {
    margin-bottom: 10px;
    text-align: center;
    color: lemonchiffon;
}

.text {
    width: 50%;
    margin-left: 25%;
    font-size: 20px;
}

.title {
    color: lemonchiffon;
    font-size: 50px;
}

.meet {
    text-align: center;
    color: lemonchiffon;
    font-size: 40px;
}

.is-4,
.is-6 {
    color: #222831;
}

.is-4by3 {
    padding: 70px;
}

.card {
    margin: 10px;
    width: 18rem;
    height: 630px;
}
.card-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none !important;
}

.team {
    margin: 50px;
}

/* footer */
.footer {
    margin-top: 100px;
    width: 100%;
    background-color: #222831;
    color: lemonchiffon;
    text-align: center;
    height: 10px !important;
}
.fa {
    color: lemonchiffon;
    margin: 10px;
}
.fa {
    color: lemonchiffon;
    margin: 10px;
}

@media screen and (max-width: 989px) {
    .text {
        text-align: justify;
        font-size: 17px;
        width: 300px;
        margin-left: 30px;
    }

    .card {
        margin-top: 20px;
        margin-left: 25px;
    }

    .footer {
        margin-top: 20px !important;
    }
    .title {
        font-size: 55px;
    }
}
