body {
    background-color: #222831 !important;
    min-height: 100vh;
    padding: 0;
}
nav {
    background-color: lemonchiffon !important;
    color: #222831 !important;
    font-size: 20px;
}
.navbar-dropdown {
    background-color: lemonchiffon !important;
}
.gameadd {
    margin-top: 60px;
}

.label {
    color: lemonchiffon;
}
.fa-globe {
    color: #222831 !important;
}
.addcategory {
    margin-top: 10px;
}
.submit,
.cancel {
    background-color: lemonchiffon;
    color: #222831;
}
.instructions-input {
    font-size: 20px !important;
}
/* footer */
.footer {
    
    margin-top: 30px;
    width: 100%;
    background-color: #222831;
    color: lemonchiffon;
    text-align: center;
    height: 10px !important;
}
.fa {
    color: lemonchiffon;
    margin: 10px;
}
.fa-github-alt {
    color: lemonchiffon;
    margin: 10px;
}

@media screen and (max-width: 989px) {
    .gameadd {
        margin: 30px !important;
    }
    .footer {
        margin-top: 30px;
    }
}
