body {
    background-color: #222831 !important;
    min-height: 100vh;
    padding: 0;
}
.gameadd {
    margin-top: 30px;
}

.label {
    color: lemonchiffon;
}
.fa-globe {
    color: #222831;
}
.addcategory {
    margin-top: 10px;
}
.submit,
.cancel {
    background-color: lemonchiffon;
    color: #222831;
}
/* footer */
.footer {
    left: 0;
    bottom: 10px;
    margin-top: 40px;
    width: 100%;
    background-color: #222831;
    color: lemonchiffon;
    text-align: center;
    height: 10px !important;
}
.fa-github-alt {
    color: lemonchiffon;
    margin: 10px;
}
