body {
    background-color: #222831 !important;
    min-height: 100vh;
    padding: 0;
}

nav {
    background-color: lemonchiffon !important;
    color: #222831 !important;
    font-size: 20px;
}
.navbar-burger span {
    color: #222831 !important;
}
.navbar-dropdown {
    background-color: lemonchiffon !important;
}
.card-info {
    margin-top: 100px;
}

span {
    color: lemonchiffon;
}
.collapsible-header {
    background-color: lemonchiffon;
}

h4 {
    color: #222831;
}

/* footer */
.footer {
    left: 0;
    bottom: 0;
    margin-top: 40px;
    width: 100%;
    background-color: #222831;
    color: lemonchiffon;
    text-align: center;
    height: 10px !important;
}
.fa {
    color: lemonchiffon;
    margin: 10px;
}
