body {
    background-color: #222831 !important;
    min-height: 100vh;
    padding: 0;
}

nav {
    background-color: lemonchiffon !important;
    color: #222831 !important;
    font-size: 20px;
}
.navbar-burger span {
    color: #222831 !important;
}
.navbar-dropdown {
    background-color: lemonchiffon !important;
}
.card-info {
    margin-top: 100px;
}

span {
    color: lemonchiffon;
}
.collapsible-header {
    background-color: lemonchiffon;
}

.country-category {
    color: lemonchiffon;
    font-size: 15px;
}

/* footer */
.footer {
    margin-top: 780px;
    width: 100%;
    background-color: #222831;
    color: lemonchiffon;
    text-align: center;
    height: 10px !important;
}
.fa {
    color: lemonchiffon;
    margin: 10px;
}
.fa {
    color: lemonchiffon;
    margin: 10px;
}

@media screen and (max-width: 989px) {
    .footer {
        margin-top: 25px;
    }

    #all-games {
        margin-top: 50px;
    }
}
