body,
html {
    background-color: #222831 !important;
    min-height: 100vh;
    padding: 0;
}
nav {
    background-color: lemonchiffon !important;
    color: #222831 !important;
    font-size: 20px;
}
.navbar-dropdown {
    background-color: lemonchiffon !important;
}

.menu {
    margin-left: 30px;
    padding: 10px;
    margin-top: 60px;
}

.title {
    color: lemonchiffon;
    text-align: center;
    font-size: 80px;
    padding-bottom: 50px;
}
section {
    margin-top: 60px;
}

.dash {
    color: lemonchiffon;
}

.subtitle {
    color: lemonchiffon;
    text-align: center;
    font-size: 40px;
}

.menu-label-spacing {
    color: lemonchiffon;
}

.footer {
    margin-top: 480px;
    width: 100%;
    background-color: #222831;
    color: lemonchiffon;
    text-align: center;
    height: 10px !important;
}
.fa {
    color: lemonchiffon;
    margin: 10px;
}
.fa {
    color: lemonchiffon;
    margin: 10px;
}

@media screen and (max-width: 989px) {
    .menu {
        margin: 0;
        margin-top: 30px;
        width: 100%;
        padding: 3px;
        text-align: center;
    }

    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 30px;
    }

    .section {
        margin: 0;
    }

    .footer {
        margin-top: 430px;
    }
}
