body {
    background-color: #222831 !important;
    min-height: 100vh;
    padding: 0;
}
nav {
    background-color: lemonchiffon !important;
    color: #222831 !important;
    font-size: 20px;
}
.navbar-dropdown {
    background-color: lemonchiffon !important;
}

.title,
.subtitle,
.label {
    color: lemonchiffon;
}
.fa-lock,
.fa-envelope,
.fa-at {
    color: #222831 !important;
}
button {
    background-color: lemonchiffon !important;
    color: #222831;
}

/* footer */
.footer {
    margin-top: 250px;
    width: 100%;
    background-color: #222831;
    color: lemonchiffon;
    text-align: center;
    height: 10px !important;
}
.fa {
    color: lemonchiffon;
    margin: 10px;
}
.fa {
    color: lemonchiffon;
    margin: 10px;
}

@media screen and (max-width: 1730px) {
    .footer {
        margin-top: 10px;
    }
}
