body {
    background-color: #222831 !important;
    min-height: 100vh;
    padding: 0;
}

nav {
    background-color: lemonchiffon !important;
    color: #222831 !important;
    font-size: 20px;
}
.navbar-burger span {
    color: #222831 !important;
}
.navbar-dropdown {
    background-color: lemonchiffon !important;
}
.card-info {
    margin-top: 100px;
}
.input {
    width: 90% !important;
    color: lemonchiffon !important;
}

::placeholder {
    color: lemonchiffon !important;
    text-align: center !important;
    font-size: 30px;
}
span {
    color: lemonchiffon;
}
.collapsible-header {
    background-color: lemonchiffon;
}

h4 {
    color: #222831;
}
button {
    background-color: lemonchiffon !important;
    color: #222831 !important;
}

.search {
    margin-top: 50px;
}
.no-games {
    color: lemonchiffon;
    font-size: 30px;
}
/* footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 40px;
    width: 100%;
    background-color: #222831;
    color: lemonchiffon;
    text-align: center;
    height: 10px !important;
}
.fa {
    color: lemonchiffon;
    margin: 10px;
}
