body {
    background-color: #222831 !important;
    min-height: 100vh;
    padding: 0;
}
.card {
    margin-top: 100px;
}
.input {
    width: 80%;
    margin-left: 70px;
}

.game-title {
    font-size: 50px;
    text-align: center;
}

.category,
.country,
.people {
    text-align: center;
    font-size: 25px;
}
.description,
.instructions {
    font-size: 20px;
    padding: 20px;
}

h3 {
    text-align: center;
    font-weight: bold;
}

.search {
    margin-top: 50px;
}
/* footer */
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    margin-top: 40px;
    width: 100%;
    background-color: #222831;
    color: lemonchiffon;
    text-align: center;
    height: 10px !important;
}
.fa {
    color: lemonchiffon;
    margin: 10px;
}
